<link href="/public/general.css" rel="stylesheet" type="text/css">

<footer>
    <p>&copy; 2024 Coolz Development, all rights reserved</p>
    <div class="social-icons">
        <a href="/error" target="_blank">
            <img class="social-icon" src="/public/images/github-logo.png" alt="GitHub" />
        </a>
        <a href="https://discord.gg/gAXBQZdw" target="_blank">
            <img class="social-icon" src="/public/images/discord-logo.png" alt="Discord" />
        </a>
        <a href="/error" target="_blank">
            <img class="social-icon" src="/public/images/instagram-logo.png" alt="Instagram" />
        </a>
        <a href="/error">
            <img class="social-icon" src="/public/images/mail-logo.png" alt="Mail" />
        </a>
    </div>
</footer>

<script>
    window.intercomSettings = {
        api_base: "https://api-iam.intercom.io",
        app_id: "toctisoq",
    };
</script>

<script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/toctisoq'
    (function(){
        var w=window;
        var ic=w.Intercom;
        if(typeof ic==="function"){
            ic('reattach_activator');
            ic('update',intercomSettings);
        } else {
            var d=document;
            var i=function(){
                i.c(arguments)
            };
            i.q=[];
            i.c=function(args){
                i.q.push(args)
            };
            w.Intercom=i;
            function l(){
                var s=d.createElement('script');
                s.type='text/javascript';
                s.async=true;
                s.src='https://widget.intercom.io/widget/toctisoq';
                var x=d.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s,x)
            }
            if(w.attachEvent){
                w.attachEvent('onload',l);
            } else {
                w.addEventListener('load',l,false);
            }
        }
    })()
</script>
