<header>
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="/public/images/coolz.png" alt="Logo" class="logo">
    </div>
    <ul class="navbar-icons">
      <li class="navbar-icon"><a href="/">Home</a></li>
      <li class="navbar-icon"><a href="/services">Services</a></li>
      <li class="navbar-icon"><a href="/tos">Terms Of Service</a></li>
      <li class="navbar-icon"><a href="https://discord.gg/gAXBQZdw">Discord</a></li>
      <li class="navbar-icon"><a href="/marketplace">Market Place</a></li>
    </ul>
  </nav>
</header>


