<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/public/error.css">
</head>
<body>
  <div class="wrapper">
    <div class="nav">
      <div class="rainbow"></div>
    </div>
    <div class="error">
      <img src="https://www.playster.com/wp-content/uploads/404-300x300.jpg" alt=""/>
      <h1>404</h1>
      <h2>Error: Page Not Found</h2>
      <p>Woops! - This page doesn't exist on our site.<br>
        Go back to the <a href="/">Home Page</a>.
      </p>
    </div>
    <div class="footer">
      <p>Playster 2015</p>
    </div>
  </div>
</body>
</html>
