<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coolz Development</title>
    <link href="/public/services.css" rel="stylesheet" type="text/css">
    <link href="/public/general.css" rel="stylesheet" type="text/css">
</head>

<%- include('partials/header') %>

<p class="animated-text">
    <span>
       Coolz Development
    </span>
    &mdash;  reliable, cheap and modern &mdash;
</p>

<body>

    <footer>
        <%- include('partials/footer') %>
    </footer>

</body>
</html>